.content {
    box-sizing: border-box;
    width: 430px;
    height: 550px;
    margin: 50px auto;
    border: 10px solid #2f2f2f;        
    background-color: black;    
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.display {    
    user-select: none;
    -webkit-user-drag: none;
    height: 20%;    
    margin: 5px;
    background-color: #b2b9b7;    
    flex: auto; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.display p {
    font-size: 70px;
    padding-right: 5px;
}

.pad {   
    height: 80%;
    margin: -3px 5px 5px 5px;
    flex: auto;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px 2px;    
}

.okey,
#key-equals {
    background-color: lightslategray;
}

.key {    
    user-select: none;
    -webkit-user-drag: none;
    font-size: 20px;
    font-weight: bold;
}

.fkey {
    background-color: #2f2f2f;
}

.nkey {
    background-color: #b2b9b7;
}

#key-0 {
    grid-column: span 2;
}