.content {
    box-sizing: border-box;
    width: 430px;
    height: 550px;
    margin: 50px auto;
    border: 10px solid #2f2f2f;    
    padding: 5px;    
    display: flex;
    flex-direction: column;
    background-color: black;
}

.display {
    background-color: #b2b9b7;    
    flex: 2;
}

.pad {    
    display: flex;
    flex-direction: row;   
    flex: 7;
    
}

.functions-and-numericals {    
        
    flex: 3;
    display: flex;
    flex-direction: column;
}

.functions {        
    flex: 1;
    display: flex;
    
    flex-direction: row;
}

.fbutton {
    background-color: #1e90ff;
    flex: 1;
}

.numericals {    
    display: flex;
    flex-direction: column;
    flex: 4;
    
}

.numeric-row {
    display: flex;
    flex-direction: row;
    
    flex: 1;    
}

.numericals:first-child:first-child{
    background-color: #b2b9b7;
}

.nbutton {
    flex: 1;
    background-color: #217c7e;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1;    
}

.obutton {
    flex: 1;
    background-color: #ff8f1f;
}